/* /Pages/Blog.razor.rz.scp.css */
.blog-content[b-b9lodz9ekm] {
    /*padding-bottom: 1.5rem;
    border-bottom: solid 1px #F2F2F2;*/
}

h2[b-b9lodz9ekm] {
    font-size: 22px;
}

section article[b-b9lodz9ekm] {
    margin-top: 0.5rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}

    section article a[b-b9lodz9ekm] {
        text-decoration: none;
    }

        section article a p svg[b-b9lodz9ekm] {
            width: 14px;
        }

        section article a p[b-b9lodz9ekm] {
            font-size: 10px;
            margin: 0;
        }

.post-description[b-b9lodz9ekm] {
    font-size: 14px;
    padding: 1rem 0 0 0;
}
/* /Pages/BlogPostFooter.razor.rz.scp.css */
.post-footer[b-16cohs5xfo] {
    width: 100%;
    border-top: solid 1px #F2F2F2
}

.center-line[b-16cohs5xfo] {
    position: relative;
    left: 50%;
    width: 1px;
    height: calc(100% - 10px);
    background-color: #f2f2f2
}

p[b-16cohs5xfo] {
    color: black;
    margin: 0px;
    text-decoration: none;
}

svg[b-16cohs5xfo] {
    width: 28px;
    vertical-align: revert;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-93si6gg51w] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-93si6gg51w] {
    display: flex;
    flex: 1;
}

    main div[b-93si6gg51w] {
        flex: 1;
    }

#content[b-93si6gg51w] {
    border-bottom: solid 1px #F2F2F2;
}

#sidebar[b-93si6gg51w] {
    flex: 1;
    border-left: solid 1px #F2F2F2;
}
/* /Shared/NavMenu.razor.rz.scp.css */
nav[b-wksoyat6xq] {
    font-family: "montserrat-bold", "微軟正黑體", sans-serif;
    border-bottom: solid 1px #F2F2F2;
}
