.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

    main div {
        flex: 1;
    }

#content {
    border-bottom: solid 1px #F2F2F2;
}

#sidebar {
    flex: 1;
    border-left: solid 1px #F2F2F2;
}
