.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

nav {
    border-bottom: solid 1px #F2F2F2;
}

main {
    flex: 1;
}

#sidebar {
    border-left: solid 1px #F2F2F2;
}