.post {
    padding: 1.5rem 3rem 0 3rem
}

.post-content {
    margin-bottom: 2px;
}

    .post-content ul li {
        text-indent: 0em;
    }

    .post-content ol li {
        text-indent: 0em;
    }

.list-title {
    font-size: 20px
}

pre {
    margin: 0px;
    background-color: #f7f7f7;
}