@page "/"
@page "/blog"

<PageTitle>Corvus+ Blog</PageTitle>

<div class="blog-content">
    <section class="blog-post">
        <article class="first">
            <a href="https://localhost:7269/Corvus.Nest/blog/1" class="text-dark">
                <h2 class="fw-bold">Blazor-前言</h2>
                <p class="text-secondary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                        <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                        <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                    2023-10-04 10:33
                </p>
                <p class="post-description">
                    嗨，我是Corvus，是位軟體工程師。
                    敝人目前接觸Blazor也有一段時間了，在這邊為這段時間的學習做一些筆記，同時也是為新人進行教育訓練的資料。
                    此筆記會介紹Blazor的基本功。
                </p>
            </a>
        </article>
    </section>
</div>